@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left{
  margin-left: auto;
  font-weight: bold;
}

h1{
  font-size: 20px !important;
}

.flex-container{
  display: flex !important;
}

.btn{
  background-color: red !important;
  color: white !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}